.containerStyle {
  width: 970px;
  height: 545.722px;
  z-index: -2;
  // display: auto;
  user-select: none;
}

.fullSizeStyle {
  width: 100%;
  height: 100%;
  // background: radial-gradient(circle at bottom center, #222222 0%, #101010 100%);
}
